//Футер

footer {
  color: $white-color;
  background-color: $footer-background-color;
}

footer .container {
  display: flex;
  align-items: baseline;
  justify-content: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 45px;
  padding-bottom: 28px;
}

footer .subscribe-social {
  margin-left: 69px;
}

footer .subscribe-form {
  margin-left: 94px;
}

footer a {
  text-decoration: none;
  display: block;
}

footer .logo {
  color: $white-color;
  font-size: 22px;
  margin-right: 0px;
  margin-bottom: 20px;
}

.address-list li:not(:last-child) {
  margin-bottom: 9px;
}

.address-item {
  font-size: 14px;
  font-style: normal;
}

.address-item a {
  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: $active-color;
  }
}

footer .subscribe {
  font-size: 14px;
  font-weight: 700;
  line-height: 0.87;
  text-transform: uppercase;
  margin-bottom: 20px;
}

footer .social {
  padding: 0;
}

footer .social-item:not(:last-child) {
  margin-right: 10px;
}

.containt-subscribe {
  display: block;
}

.sendicon {
  margin-left: 10px;
  fill: $white-color;
}

.footer-call {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white-color;
}
