.pbutton {
  color: var(--additional-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #f5f4fa;
  cursor: pointer;

  min-width: 200px;
  min-height: 50px;
  border: 1px transparent;
  border-radius: 4px;
  transition: color 250ms var(--timing-funktion),
    background-color 250ms var(--timing-funktion),
    box-shadow 250ms var(--timing-funktion);
}

.pbutton:hover,
.pbutton:focus {
  color: #ffffff;
  background-color: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.our-works .container {
  padding-top: 94px;
}
